<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu-background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{374,244}}</string>
                <key>offset</key>
                <string>{10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{374,244}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,256}</string>
            <key>textureFileName</key>
            <string>menu-background.pvr.ccz</string>
        </dict>
    </dict>
</plist>
