<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,848},{126,120}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{126,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>asteroid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,848},{114,122}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{114,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bumper-hi.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,511},{254,254}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bumper.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,256},{254,254}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>planet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,256},{254,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>planet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,296},{292,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{292,294}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>planet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1},{254,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>planet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,591},{254,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>planet5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{292,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{292,294}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>planet6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,591},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>planet7.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1},{254,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>bodies-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
